html {
  height: max-content;
  min-height: 100%;
}

body {
  height: 100%;
  font-family: 'Montserrat Alternates';
}

p {
  font-size: 20px;
}

.inverse-text {
  color: white;
}

.center-title {
  text-align: center;
}

.my-container {
  margin-top: 100px;
}

.card {
  margin: auto;
  height: 280px;
  background-color: #fdf3e7;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
}

.my-section {
  margin-bottom: 40px;
}

td {
  padding-bottom: 10px !important;
}
