{% extends 'base.html' %}

{% block content %}

<div class="container">

	<h3>About</h3> 
	<p>Donasi adalah sumbangan tetap (berupa uang) dari penderma kepada perkumpulan (KBBI Daring, 2016). AyoBantu adalah platform untuk menyalurkan bantuan berupa donasi kepada pihak-pihak yang membutuhkan.
	<h1 id="komentar_title">Daftar Testimoni</h1>
	<form id="form" method="POST" class="post-form" action="{% url 'about' %}">
		{% csrf_token %}
		{{ form.as_p }}
		<input id="submit" type="submit" class="btn btn-primary float-right" value="Kirim komentar Anda!">
	</form>

	<h1 id="komentar_list_title">Daftar Testimoni</h1>

	<form method="POST" class="post-form" action="{% url 'hapus-komentar' %}">
		{% csrf_token %}
		<input id="erase_komentar" type="submit" class="btn btn-primary float-right" value="Hapus Semua">
	</form>
	{% for i in daftarKomentar %}
	<div>
		<p>{{i.komentar}}</p>
	</div>
	{% endfor %}

</div>

{% endblock %}