{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="my-section" style="position:relative;height:80%">
  <center>
    <h1>Daftar Donatur Kami</h1>
  </center>
  <style>
    th {
      text-align: center;
    }
  </style>
  <table class="table table-hover table-stripper table-responsive">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nama</th>
        <th scope="col">Besar Donasi</th>
        <th scope="col">Penerima</th>
        <th scope="col">Tanggal</th>
      </tr>
    </thead>
    <tbody>
      {% if not data %}
      <tr>
        <td colspan="4" style="text-align: center;">Tidak ada donatur. Jadilah yang pertama!</td>
      </tr>
      {% endif %}
      {% for i in data %}
      <tr>
        <td>{{ i.bill_by }}</td>
        <td>{{ i.amount }}</td>
        <td>{{ i.program.name }}</td>
        <td>{{ i.date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}
