{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card" style="height:100%; width:70%;">
  <h3 class="center-title">Make new donation</h3>
  <center>
    <form action="" method="POST">
      {{ info }}
      {% csrf_token %}
      <table>
        <tr valign="top">
          <td>News</td>
          <td>
            <input name="program" class="form-control" type="text" onkeypress="$('#error_program').html('');" disabled
              value="{{news.title}}">
          </td>
        </tr>
        <tr valign="top">
          <td>Program</td>
          <td>
            <select name="program" class="form-control" onkeypress="$('#error_program').html('');">
              {% for p in program_list %}
              <option value="{{p.id}}">{{p.name}}</option>
              {% endfor %}
            </select>
            <span id="error_program">{{ program }}</span>
          </td>
        </tr>
        <tr valign="top">
          <td>Amount</td>
          <td>
            <input name="amount" class="form-control" type="text" onkeypress="$('#error_amount').html('');">
            <span id="error_amount">{{ amount }}</span>
          </td>
        </tr>
        <tr valign="top">
          <td>Bill by</td>
          <td>
            <input name="bill_by" class="form-control" type="text" onkeypress="$('#error_bill_by').html('');">
            <span id="error_bill_by">{{ bill_by }}</span>
          </td>
        </tr>
        <tr valign="top">
          <td>Message</td>
          <td>
            <input name="message" class="form-control" type="text" onkeypress="$('#error_message').html('');">
            <span id="error_message">{{ date_of_birth }}</span>
          </td>
        </tr>
        <tr valign="top">
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="hide" value="hide">
              <label class="form-check-label" for="hide">
                Hide me from donation list
              </label>
            </div>
          </td>
        </tr>
      </table>
      <input type="submit" value="Donate" class="btn btn-primary" style="margin-top:20px;" />
    </form>
  </center>
</div>
</div>
{% endblock %}
