{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="my-section" style="position:relative;height:80%">
  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="height:100%;">
        <input id="search" type="text" class="form-control" placeholder="Search..." />
      </div>
    </div>
    <div class="col-sm-9">
      <center>
        <div id="empty_news" style="display: none;">
          <h2><span class="label label-default">Tidak ada berita</span></h2>
        </div>
      </center>
      {% for s in data %}
      <div id="news_{{forloop.counter}}" class="card" style="height:100%; margin-bottom: 35px;">
        <center>
          <h3>
            <a href="/news/{{s.id}}">{{ s.title }}</a>
          </h3>
        </center>
        <div class="row">
          <div class="col-sm-4">
            <img src="{% get_static_prefix %}images/{{ s.image }}" style="width:100%; height: 200px; object-fit: cover;" />
            Date created: {{ s.date }}
          </div>
          <div class="col-sm-8">
            <script>
              document.write(
                wrap_text(`{{s.description}}`, `news/{{s.id}}`, `{{forloop.counter}}`)
              );
            </script>
            <div style="margin-top:15px">
              <center>
                <a href="/donation/{{s.id}}/"><button class="btn btn-primary">Donasi</button></a>
              </center>
            </div>
          </div>
        </div>
      </div>
      <script>
        news_count = +'{{forloop.counter}}';
      </script>
      {% endfor %}
      <center>
        <div id="pagination"></div>
      </center>
    </div>
  </div>
</div>
<script>
  build_pagination();
  add_search_event();
</script>
{% endblock %}
