{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="my-section" style="position:relative;height:80%">
  <div class="card" style="height:100%; width:70%;">
    <h3 class="center-title">Login</h3>
    <center>
      <form action="" method="POST">
        {{ error }}
        {% csrf_token %}
        <table>
          <tr valign="top">
            <td style="width:120px;">Email</td>
            <td style="width:360px;">
              <input name="email" class="form-control" type="email">
            </td>
          </tr>
          <tr valign="top">
            <td>Password</td>
            <td>
              <input name="password" class="form-control" type="password">
            </td>
          </tr>
        </table>
        <input type="submit" value="Login" class="btn btn-primary" style="margin-top:20px;" />
      </form>
      <a href="{% url 'social:begin' 'google-oauth2' %}"><button class='btn btn-default'>Login with Google</button></a>
    </center>
  </div>
</div>
{% endblock %}
