{% extends 'base.html' %} {% load static %} {% block content %}
<div class="my-section" style="position:relative;height:80%">
  <center>
    <h1>{{ data.title }}</h1>
  </center>
  <div class="row">
    <div class="col-sm-4">
      <img src="{% get_static_prefix %}images/{{ data.image }}" style="width:100%; object-fit: cover;" />
    </div>
    <div class="col-sm-8">
      <span style="white-space: pre-line; ">{{ data.description }}</span>
      <div style="margin-top: 15px;">
        Program : {% for s in program %} <span class="label label-default"> {{ s.name }}</span>
        {% endfor %} {% if not program %} <i>Tidak ada program.</i> {% endif %}
      </div>
      <div style="margin-top:15px">
        <center>
          <a href="/donation/{{data.id}}/"><button class="btn btn-primary">Donasi</button></a>
        </center>
      </div>
    </div>
  </div>
</div>
{% endblock %}
