{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="my-section" style="position:relative;height:80%">
  <div class="card" style="height:100%; width:70%;">
    <h3 class="center-title">Create new account</h3>
    <center>
      <form action="" method="POST">
        {{ info }}
        {% csrf_token %}
        <table>
          <tr valign="top">
            <td style="width:120px;">Email</td>
            <td style="width:360px;">
              <input name="email" class="form-control" type="email" onkeypress="$('#error_email').html('');">
              <span id="error_email">{{ email }}</span>
            </td>
          </tr>
          <tr valign="top">
            <td>Password</td>
            <td>
              <input name="password" class="form-control" type="password" onkeypress="$('#error_password').html('');">
              <span id="error_password">{{ password }}</span>
            </td>
          </tr>
          <tr valign="top">
            <td>Full name</td>
            <td>
              <input name="full_name" class="form-control" type="text" onkeypress="$('#error_full_name').html('');">
              <span id="error_full_name">{{ full_name }}</span>
            </td>
          </tr>
          <tr valign="top">
            <td>Tanggal lahir</td>
            <td>
              <input name="date_of_birth" class="form-control" type="date" onkeypress="$('#error_date_of_birth').html('');">
              <span id="error_date_of_birth">{{ date_of_birth }}</span>
            </td>
          </tr>
        </table>
        <input type="submit" value="Register" class="btn btn-primary" style="margin-top:20px;" />
      </form>
    </center>
  </div>
</div>
{% endblock %}
